Source: linkedup
Section: user/network
Priority: optional
Maintainer: Anthony Naddeo <anthony.naddeo@gmail.com>
Build-Depends: debhelper (>= 5), libqt4-dev, libcurl3, libssl0.9.8
Standards-Version: 3.7.3

Package: linkedup
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Mobile LinkedIn application for Maemo and Meego
 <insert long description, indented with spaces>
